extends ../layout

block page_title
  | Pedido número #{pedido.id}

block main_content
  .content
    .container
      .row
        if successMessage
          .alert.alert-success.alert-dismissible(role="alert")
            button.close(data-dismiss="alert" type="button")
              span(aria-hidden="true")  ×
              span.sr-only Fechar
            | #{successMessage}
        .col-md-12
          p.text-muted.lead Você possui #{pedido.totalItens} item(s) em seu pedido.
        #basket.col-md-9.clearfix
          .box
            form.form-pedido(method='post', action='#')
              .table-responsive
                table.table
                  thead
                    tr
                      th(colspan='2') Produto
                      th Quantidade
                      th Preço unitário cobrado
                      th Total
                  tbody
                    each item in pedido.itens
                      tr
                        td
                          a(href='#')
                            img(src=item.produto.imagem)
                        td
                          a(href='/produtos/' + item.produto.id)= item.produto.nome
                        td
                          | #{item.quantidade}
                        td R$ #{item.preco_unitario}
                        td R$ #{(item.preco_unitario * item.quantidade).toFixed(2)}
                  tfoot
                    tr
                      th(colspan='4') Frete
                      th(colspan='2') R$ #{pedido.frete}
                    tr
                      th(colspan='4') Total
                      th(colspan='2') R$ #{pedido.valor_total}
              .box-footer
                .pull-left
                  a.btn.btn-default(href='/')
                    i.fa.fa-chevron-left
                    |  Voltar para a loja
        .col-md-3
          #order-summary.box
            .box-header
              h3 Pedido
            .table-responsive
              table.table
                tbody
                  if !!entrega
                    if !!entrega.postado_em
                      tr
                        td Postado em
                        th.postado_em #{entrega.postado_em}
                    if !!entrega.entregue_em
                      tr
                        td Entregue em
                        th.entregue_em #{entrega.entregue_em }
                  tr
                    td Status
                    th #{pedido.status}
                  tr
                    td Forma de Pagamento
                    th #{pagamento.forma}
          if !!boleto
            .box
              button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
                | Abrir boleto
          if !!notaFiscal
            .box
              button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#notaFiscalModal')
                | Abrir Nota Fiscal

  #notaFiscalModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Nota Fiscal
        .modal-body
          if !!notaFiscal
            table.table
              tbody
                tr
                  td Nome
                  th #{notaFiscal.nome}
                tr
                  td cpf
                  th #{notaFiscal.cpf}
                tr
                  td Data de Emissão
                  th #{notaFiscal.emissao}
                tr
                  td Valor
                  th R$ #{notaFiscal.valor}
                tr
                  td Descrição
                  th #{notaFiscal.descricao}

  #myModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Boleto
        .modal-body
          if !!boleto
            table.table
              tbody
                tr
                  td Favorecido
                  th #{boleto.favorecido}
                tr
                  td Vencimento
                  th #{boleto.vencimento}
                tr
                  td Código de barras
                  th #{boleto.codigoDeBarras}
                tr
                  td Valor
                  th R$ #{boleto.valorTotal}

  script.
    App.Cliente.Carrinho.show(!{JSON.stringify({pedido: pedido})});