extends ../funcionario_layout

block page_title
  | Pedidos

block main_content
  .row
    #customer-orders.col-md-12
      .box
        .table-responsive
          table.table.table-hover
            thead
              tr
                th Id
                th Cliente
                th ID do Funcionário responsável
                th Status
                th Valor total
            tbody
              each pedido in pedidos
                tr
                  td= pedido.id
                  td= pedido.cliente_id
                  td= pedido.funcionario_id
                  td= pedido.status
                  td= pedido.valor_total
                  td
                    a.btn.btn-template-main.btn-sm(href="/intranet/pedidos/" + pedido.id) Ver
