extends ../layout

block page_title
  | Carrinho de Compras

block main_content
  .content
    .container
      .row
        .col-md-12
          p.text-muted.lead Você possui #{carrinho.totalItens} item(s) em seu carrinho.
        #basket.col-md-9.clearfix
          .box
            form.form-carrinho(method='post', action='#')
              .table-responsive
                table.table
                  thead
                    tr
                      th(colspan='2') Produto
                      th Quantidade
                      th Preço unitário
                      th Desconto
                      th(colspan='2') Total
                  tbody
                    each item in carrinho.itens
                      tr
                        td
                          a(href='#')
                            img(src=item.produto.imagem)
                        td
                          a(href='/produtos/' + item.produto.id)= item.produto.nome
                        td
                          input.form-control(type='hidden', name="item[id]", value=item.id, id="inputItemId" + item.id)
                          input.form-control(type='number', name="item[quantidade]", value=item.quantidade, min="1", id="inputQuantidade" + item.id, required)

                        td R$ #{item.produto.preco}
                        td R$ #{item.desconto}
                        td R$ #{item.total}
                        td
                          a(href='/cliente/itens/' + item.id + '/delete')
                            i.fa.fa-trash-o
                  tfoot
                    tr
                      th(colspan='5') Total
                      th(colspan='2') R$ #{totalDaCompra}
              .box-footer
                .pull-left
                  a.btn.btn-default(href='/')
                    i.fa.fa-chevron-left
                    |  Continuar comprando
                .pull-right
                  button.btn.btn-default(type="submit" name='update_button' value='update_button')
                    i.fa.fa-refresh
                    |  Atualizar carrinho
                  a.btn.btn-template-main(href="/cliente/pedidos/new" name='finish_button' value='finish_button')
                    | Finalizar compra
        .col-md-3
          #order-summary.box
            .box-header
              h3 Pedido
            .table-responsive
              table.table
                tbody
                  tr
                    td CEP
                    th(colspan="2")
                      input#inputCep.small(type="text")
                      button.btn.btn-default.calculaFrete Ok
                  tr
                    td Subtotal
                    th R$ #{totalDaCompra}
                  tr
                    td Frete
                    th.frete
                  tr
                    td Total
                    th.total

  script.
    App.Cliente.Carrinho.show(!{JSON.stringify({carrinho: carrinho, totalDaCompra: totalDaCompra})});
