extends ../layout

block main_content
  a(href="/intranet/clientes/new") Cadastrar novo cliente
  table.table.table-striped
    thead
      tr
        th ID
        th Nome
        th Telefone
        th Email
        th CPF
        th Ações
    tbody
      each cliente in clientes
        tr
          th(scope="row")= cliente.id
          td= cliente.nome
          td= cliente.telefone
          td= cliente.email
          td= cliente.cpf
          td
            a(href="/intranet/clientes/" + cliente.id) Ver
            | &nbsp;&nbsp;
            a(href="/intranet/clientes/" + cliente.id + "/edit") Editar
            | &nbsp;&nbsp;
            a(href="/intranet/clientes/" + cliente.id + "/delete") Remover


