extends ../layout

block page_title
  | Clientes

block main_content
  section
    .row.text-center
      .col-md-12
        .heading
          h2 Detalhes do cliente
      .col-md-8.col-md-offset-2
        .row
          .col-sm-6.col-md-offset-3.text-left
            p.lead ID: #{cliente.id}
            p.lead Nome: #{cliente.nome}
            p.lead Sobrenome: #{cliente.sobrenome}
            p.lead Telefone: #{cliente.telefone}
            p.lead CPF: #{cliente.cpf}

            a.btn.btn-template-main(href="/intranet/clientes/")
              i.fa.fa-toggle-left
              |  Voltar
            | &nbsp; &nbsp;
            a.btn.btn-template-main(href="/intranet/clientes/" + cliente.id + "/edit")
              i.fa.fa-pencil-square-o
              |  Editar
            | &nbsp; &nbsp;
            a.btn.btn-template-main(href="/intranet/clientes/" + cliente.id + "/delete")
              i.fa.fa-trash-o
              |  Remover
