extends ./layout

block page_title
  | Seja bem-vindo(a)

block main_content
  .content
    .container
      if haPromocao
        h3
          p Há promoções em andamento na loja! Confira!
    .container
      .row.products
        each produto in produtos
          .col-md-3.col-sm-4
            .product
              a(href="/produtos/" + produto.id)
                .image
                  a(href="/produtos/" + produto.id)
                    img.img-responsive.image1(src=produto.imagem)
                .text
                  h3
                    a(href="/produtos/" + produto.id)
                      p= produto.nome
                      p.subtitle= produto.fabricante
                  if !haPromocao
                    p.price R$ #{produto.preco}
                  if haPromocao
                    p.price R$ #{produto.precoComDesconto}
