extends ./layout

block page_title
  | Seja bem-vindo(a)

block main_content
  .content
    .container
      if haPromocao
        h3.promotion
         | Aproveite a promoção: #{cortesia.descricao}
    .container
      .row.products
        each produto in produtos
          .col-md-3.col-sm-4
            .product
              a(href="/produtos/" + produto.id)
                .image
                  a(href="/produtos/" + produto.id)
                    img.img-responsive.image1(src=produto.imagem)
                .text
                  h3
                    a(href="/produtos/" + produto.id)
                      p= produto.nome
                      p.subtitle= produto.fabricante
                  p.price(class = haPromocao ? 'has-promotion' : '') R$ #{produto.preco}
                  if haPromocao
                    p.price R$ #{produto.preco_com_desconto}
